OPENAI_API_KEY=
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=
LANGCHAIN_PROJECT=
GROQ_API_KEY=
USER_AGENT=WebBasedRag/1.0
TAVILY_API_KEY=
CONFLUENCE_API_KEY=
CONFLUENCE_EMAIL=
CONFLUENCE_SPACE=
CONFLUENCE_URL=